# Faceit OAuth
FACEIT_CLIENT_ID=your_client_id_here
FACEIT_CLIENT_SECRET=your_client_secret_here
FACEIT_AUTH_URL=https://accounts.faceit.com/accounts
FACEIT_TOKEN_URL=https://api.faceit.com/auth/v1/oauth/token
FACEIT_RELAY_URL=https://ok2ju.github.io/oversite/oauth/callback
FACEIT_API_KEY=your_api_key_here